.app {
  margin: 12px;
  /* text-align: center; */
}

.card {
  margin-bottom: 12px;
}

.card > .ant-card-body {
  padding: 5px;
}

.card__left {
  margin-left: 6px;
}

.card__right {
  margin-right: 6px;
}

.button__rotation {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px!important;
  height: 50px;
}
