.app {
  margin: 12px;
}

.title {
  text-align: center;
  font-size: 1.5em;
}

.card {
  margin-bottom: 12px;
}

.card__chart > .ant-card-body {
  padding: 5px;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__left {
  margin-left: 6px;
}

.card__right {
  margin-right: 6px;
}

.button__rotation {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px!important;
  height: 50px;
}

.members__container {
  display: flex;
  flex-direction: column;
}

.member__item {
  display: flex;
  justify-content: space-between;
}
